{% extends 'base.html' %}


{% block title %}Article-Detail{% endblock %}


{% block content %}
<a href="/articlelist/"><button>Back</button></a>
<h2>{{articleobject.title}}</h2>
<img src="{{articleobject.image.url}}" class="img-fluid"  style="height: 200px; object-fit: cover" >
<p>{{articleobject.content|safe}}</p>
<p>Published on:<b>{{articleobject.date}}</b></p>
<hr>
<b><p>Author:{{articleobject.author}}</p></b>
<!-- <a href="{% url 'umapp:commentcreate' articleobject.id %}">Comment</a>	 -->
<div class="row">
	<div class="col-md-6">
		<form method="POST" action="{% url 'umapp:commentcreate' articleobject.id %}">
	{% csrf_token %}
	<!-- {{abc.as_p}} -->
	{{abc.text}}
	<button>Comment</button>
	
	
</form>
	</div>
</div>

<h3>All Comments:</h3>
<hr>
{% for cmt in articleobject.comment_set.all|dictsortreversed:'id' %}
<li>{{cmt.text}} by <b>{{cmt.commentor}} </b> {{cmt.date|timesince}} ago</li>
{% endfor %}




{% endblock %}