{% extends 'base.html' %}


{% block title %}Articles{% endblock %}


{% block content %}
<h2>All Articles</h2>
{% for i in allarticles %}
<b><li><a href="{% url 'umapp:articledetail' i.pk %}">{{i.title}}</a><button><a href="/article/{{i.id}}/update/">	Update</a></button></li></b>
<img src="{{i.image.url}}" class="img-fluid"  style="height: 200px; object-fit: cover">
<b><p>{{i.date}}</p></b><hr>
<p>Written By:{{i.author}}</p>
{% endfor %}


{% endblock %}