{% extends 'base.html' %}


{% block title %}Create{% endblock %}


{% block content %}
	<div class="row">
	<div class="col-md-4 mx-auto">
		<h3>
			<u><b>Blog Creation</b></u>
		</h3>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-info">Submit</button>
			
			
		</form>
		
	</div>
	
</div>	

{% endblock %}