{% extends 'base.html' %}

{% block title %}
       	Signup
		{% endblock %}


{% block content %}
<div class="row">
	<div class="col-md-4 mx-auto">
		<h3>
			<u><b>SignUp Form</b></u>
		</h3>
		<p id="error" style="color:red"></p>
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-info" id="btn">Submit</button>
			<span class="text-danger">
				{{error}}
			</span>
			
		</form>
		
	</div>
	
</div>
<p id="mdv"></p>

{% endblock %}

{% block js %}

<script >
$(document).ready(function(){
	$("#id_username").on("keyup",function(){
		var uname=$(this).val();
		$.ajax({
			url:"/ajax_check_username/",
			data:{
				"username":uname
			},
			success:function(data){
				
				// $("#mdv").text(data.message);
				if (data.message=="unavailable"){
					$("#error").text("Username is already exist.");
					$("#btn").attr("disabled","true")

				}
				else{
					$("#error").text("");
					$("#btn").removeAttr("disabled")



				}
			}
		})


	})
})	


</script>
{% endblock %}

